{
  "fileName": {
    "value": "MyTestFile"
  },
  "fileContent": {
    "value": "MyTestContent"
  },
  "adminPassword": {
    "value": "{{vm_admin_password}}"
  },
  "vmOfferPublisher": {
    "value": "contoso"
  },
  "vmOfferName": {
    "value": "contoso-app"
  },
  "vmOfferPlanName": {
    "value": "base-image-vm"
  }
}
