{
  "fileName": {
    "value": "MyTestFile"
  },
  "fileContent": {
    "value": "MyTestContent"
  },
  "adminPassword": {
    "value": "{{vm_admin_password}}"
  },
  "vmOfferPublisher": {
    "value": "industry-isv-eng"
  },
  "vmOfferName": {
    "value": "contoso-vm-preview"
  },
  "vmOfferPlanName": {
    "value": "contososkuidentifier"
  }
}
