config.json
partnerCenterConfig.yml
config.yml

scripts/release_*
arm-template-toolkit
scripts/temp_*

**.zip

parameters.json

devops-extension/commercial-marketplace-offer-management/node_modules
devops-extension/product-ingestion-api/configure-product/node_modules
devops-extension/product-ingestion-api/publish-product/node_modules